package au.com.easygoingapps.thepolice.observers;

import android.text.Editable;
import android.text.TextWatcher;
import android.widget.EditText;

import utils.Observer;
import utils.State;

public class EditTextObservers
{
  public static class EditTextBinder implements TextWatcher
  {
    private State<String> value;

    public EditTextBinder(State<String> value)
    {
      this.value = value;
    }

    @Override
    public void beforeTextChanged(CharSequence s, int start, int count, int after)
    {
    }

    @Override
    public void onTextChanged(CharSequence s, int start, int before, int count)
    {
    }

    @Override
    public void afterTextChanged(Editable s)
    {
         value.setValue(s.toString());
    }
  }

  public static class EditTextObserver implements Observer<String>
  {
    private EditText editText;
    private State state;

    public EditTextObserver(EditText editText, State state)
    {
      this.editText = editText;
      this.state = state;
    }

     @Override
     public void onChange(String value)
     {
       state.removeObserver(this);
       int cursorPosition = editText.getSelectionStart();
       if(cursorPosition == editText.length())
         cursorPosition = -1;
       editText.setText(value);
       if(cursorPosition == -1)
         cursorPosition = editText.length();
       try
       {
         editText.setSelection(cursorPosition);
       }
       catch(IndexOutOfBoundsException e)
       {
         editText.setSelection(editText.length());
       }
       state.addObserver(this);
     }
  }
}
