package au.com.easygoingapps.thepolice.observers;

import android.graphics.drawable.ColorDrawable;
import android.widget.TextView;
import com.easygoingapps.utils.Observer;

public class TextViewObservers
{
  public static class TextViewObserver implements Observer<Object>
  {
    private TextView textView;

    public TextViewObserver(TextView textView)
    {
      this.textView = textView;
    }

    @Override
    public void onChange(Object value)
    {
      textView.setText(value.toString());
    }
  }
}
