package ${packageName};

import android.app.Activity;
import android.text.Editable;
import android.text.TextWatcher;
import android.widget.EditText;

import utils.Observer;
import utils.State;

public class ${className}ViewBinding
{
     private EditText editText;

     public ${className}ViewBinding(Activity activity)
     {
         String value = (String) ${value};
         editText = (EditText) activity.findViewById(${viewId});
         editText.setText(${value});
         editText.addTextChangedListener(new EditTextBinder(value));
     }

     public void observe(State<String> state)
     {
        state.observe(stringObserver);
     }

     public void unObserve(State<String> state)
     {
        state.unObserve(stringObserver);
     }

     public class EditTextBinder implements TextWatcher
     {
       private String value;

       public EditTextBinder(String value)
       {
         this.value = value;
       }

       @Override
       public void beforeTextChanged(CharSequence s, int start, int count, int after)
       {
       }

       @Override
       public void onTextChanged(CharSequence s, int start, int before, int count)
       {
       }

       @Override
       public void afterTextChanged(Editable s)
       {
           value = s.toString();
       }
     }

     public Observer<String> stringObserver = new Observer<String>()
     {
        @Override
		public void onChange(String value)
		{
            editText.setText(value);
		}
     };
}
